<% if flash[:notice].present? %>
  <%= render partial: "shared/notifications", locals: { message: flash[:notice]['msg'], type: flash[:notice]['type'] } %>
<% end %>

<div class="text-center">
<h1 class="text-3xl text-center font-bold m-6">Clinics</h1>
</div>

<% if current_user %>
  <% if !current_user.user? %>
    <div class="text-center">
      <%= link_to "New clinic", new_clinic_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
    </div>
  <% end %>
  <div class='flex flex-wrap place-content-evenly' id="clinics">
    <% @clinic_hospital.each do |key,value| %>
        <div class="w-full max-w-md p-4 mt-6 bg-slate-100 border border-gray-200 rounded-lg shadow sm:p-8">
            <div class="flex items-center justify-between mb-4">
                <h5 class="text-xl font-bold leading-none text-gray-900 ">
                  <%= key %>
                </h5>
          </div>
          <div class="flow-root">
                <ul role="list" class="divide-y divide-gray-200">
                  <% value.each do |clinic| %>
                    <li class="pt-3 pb-0 sm:pt-4">
                        <div class="flex items-center space-x-4">
                            <div class="flex-1 min-w-0">
                                <p class="text-sm font-medium text-gray-900 truncate">
                                  <%= clinic.name %>
                                </p>
                                <p class="text-sm text-gray-500 truncate">
                                  <%= clinic.location%>
                                </p>
                            </div>
                        </div>
                    </li>
                  <% end %>
                </ul>
          </div>
        </div>
    <% end %>
  </div>
<% end %>