<div id="<%= dom_id medicine %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= medicine.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= medicine.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= medicine.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= medicine.category %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this medicine", medicine, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
    <%= link_to 'Edit this medicine', edit_medicine_path(medicine), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
    <hr class="mt-6">
  <% end %>
</div>

<% if @posts %>
  <% @posts.each do |post| %>
    <%= link_to post_path(post.id) do %>
      <section class="w-72 h-96 bg-white rounded-xl drop-shadow-md m-6 relative">
      <div class="overflow-hidden bg-slate-100">
        <%= image_tag post.image, :class=>"w-60 h-60 mx-auto object-cover"%>
      </div>
        <section class="mt-4 flex justify-around">
          <% tags = post.tags.split(",").take(3) %>
          <% tags.each do |each| %>
            <p class="bg-paleyellow text-sm min-w-fit px-2.5 py-1 rounded-xl"><%= each%></p>
          <% end %>
        </section>
        <section class="whitespace-normal py-5 mx-5">
          <p class="font-medium"><%= post.title %></p>
          <p class="text-sm mt-2"><%= post.description%></p>
        </section>
      </section>
    <% end %>
  <% end %>
<% else %>
  <p>No posts can be found</p>
<% end %>
