<div id="<%= dom_id medicine %>">
  <p>
    <strong>Name:</strong>
    <%= medicine.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= medicine.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= medicine.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= medicine.category %>
  </p>

</div>
