<% if current_user %>
<<<<<<< Updated upstream
   <div class="flex justify-between items-center p-6">
      <h1 class="font-bold text-4xl">Welcome <%= current_user.email %> to Your Hospital Appointment Tracker</h1>
      <%= link_to 'New appointment', new_appointment_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
   </div>

<div class="grid grid-cols-2 gap-4">
   <%# Left Side %>
   <% if @appointments %>
   <div class="w-auto bg-white rounded-xl drop-shadow-md m-6">
      <div class="mb-4 flex items-center justify-between m-3">
         <div>
            <h3 class="text-xl font-bold text-gray-900 mb-2">Appointments Overview</h3>
            <span class="text-base font-normal text-gray-500">This is a list of latest appointments</span>
         </div>
         <div class="flex-shrink-0">
            <a href="/appointments" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg p-2">View all</a>
         </div>
      </div>
      <div class="flex flex-col mt-8">
         <div class="overflow-x-auto rounded-lg">
            <div class="align-middle inline-block min-w-full">
               <div class="shadow overflow-hidden sm:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-200">
                     <thead class="bg-gray-50">
                        <tr>
                           <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                           Appointment ID
                           </th>
                           <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                           Doctor
                           </th>
                           <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                           Clinic
                           <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                           Date
                           </th>
                        </tr>
                     </thead>
                     <% @appointments.each do |appointment| %>
                        <tbody class="bg-white">
                           <tr>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                                 <%# Payment from <span class="font-semibold">Bonnie Green</span> %>
                                 <%= appointment.id %>
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                 <%= appointment.doctor.name %>
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                                 <%= appointment.clinic.name %>
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                 <%= appointment.date %>
                              </td>
                           </tr>
                        </tbody>
                     <% end %>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   <% end %>
   <%# Right Side %>
   <% if @patients %>
   <div class="w-auto bg-white rounded-xl drop-shadow-md m-6">
      <div class="mb-4 flex items-center justify-between m-3">
         <div>
            <h3 class="text-xl font-bold text-gray-900 mb-2">Patients Overview</h3>
            <span class="text-base font-normal text-gray-500">This is a list of patients</span>
         </div>
         <div class="flex-shrink-0">
            <a href="patients" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg p-2">View all</a>
         </div>
      </div>
      <div class="flex flex-col mt-8">
         <div class="overflow-x-auto rounded-lg">
            <div class="align-middle inline-block min-w-full">
               <div class="shadow overflow-hidden sm:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-200">
                     <thead class="bg-gray-50">
                        <tr>
                           <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                           Patient ID
                           </th>
                           <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                           First Name
                           </th>
                           <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                           Vaccination Status
                           <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                           Drug Allergy
                           </th>
                        </tr>
                     </thead>
                     <% @patients.each do |patient| %>
                        <tbody class="bg-white">
                           <tr>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                                 <%# Payment from <span class="font-semibold">Bonnie Green</span> %>
                                 <%= patient.id %>
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                 <%= patient.fname %>
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                                 <%= patient.vac_status %>
                              </td>
                              <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                 <%= patient.drug_allergy %>
                              </td>
                           </tr>
                        </tbody>
                     <% end %>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   <% end %>
</div>




<% else %>
   <p> Please sign in</p>
<% end %>
=======
    <% if current_user.superadmin? %>
        You the best
    <% end %>
    <br>
    <div class="flex justify-between items-center">
        <h1 class="font-bold text-4xl">Welcome <%= current_user.email %> to Your Hospital Appointment Tracker</h1>
        <%= link_to 'New appointment', new_appointment_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>

    <div class="grid grid-cols-2 gap-4">
        <div id="clinics" class="w-auto bg-white rounded-xl drop-shadow-md m-6">
            <% @clinics.each do |clinic| %>
                <section class="w-auto bg-white rounded-xl drop-shadow-md m-3 relative p-3">
                    <%= render clinic %>
                    <p>
                        <%= link_to "Show this clinic", clinic, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
                    </p>
                </section>
            <% end %>
        </div>
        <div id="doctors" class="w-auto bg-white rounded-xl drop-shadow-md m-6">
            <% @doctors.each do |doctor| %>
                <section class="w-auto bg-white rounded-xl drop-shadow-md m-3 relative p-3">
                    <%= render doctor %>
                    <p>
                        <%= link_to "Show this doctor", doctor, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
                    </p>
                </section>
            <% end %>
        </div>
    </div>

<div class="grid grid-cols-2 gap-4">
    <div class="w-auto bg-white rounded-xl drop-shadow-md m-6">
                     <div class="mb-4 flex items-center justify-between m-3">
                        <div>
                           <h3 class="text-xl font-bold text-gray-900 mb-2">Latest Transactions</h3>
                           <span class="text-base font-normal text-gray-500">This is a list of latest transactions</span>
                        </div>
                        <div class="flex-shrink-0">
                           <a href="#" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg p-2">View all</a>
                        </div>
                     </div>
                     <div class="flex flex-col mt-8">
                        <div class="overflow-x-auto rounded-lg">
                           <div class="align-middle inline-block min-w-full">
                              <div class="shadow overflow-hidden sm:rounded-lg">
                                 <table class="min-w-full divide-y divide-gray-200">
                                    <thead class="bg-gray-50">
                                       <tr>
                                          <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                             Transaction
                                          </th>
                                          <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                             Date & Time
                                          </th>
                                          <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                             Amount
                                          </th>
                                       </tr>
                                    </thead>
                                    <tbody class="bg-white">
                                       <tr>
                                          <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                                             Payment from <span class="font-semibold">Bonnie Green</span>
                                          </td>
                                          <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                             Apr 23 ,2021
                                          </td>
                                          <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                             $2300
                                          </td>
                                       </tr>
                                       <tr class="bg-gray-50">
                                          <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900 rounded-lg rounded-left">
                                             Payment refund to <span class="font-semibold">#00910</span>
                                          </td>
                                          <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                             Apr 23 ,2021
                                          </td>
                                          <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                             -$670
                                          </td>
                                       </tr>
                                       <tr>
                                          <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                                             Payment failed from <span class="font-semibold">#087651</span>
                                          </td>
                                          <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                             Apr 18 ,2021
                                          </td>
                                          <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                             $234
                                          </td>
                                       </tr>
                                       <tr class="bg-gray-50">
                                          <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900 rounded-lg rounded-left">
                                             Payment from <span class="font-semibold">Lana Byrd</span>
                                          </td>
                                          <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                             Apr 15 ,2021
                                          </td>
                                          <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                             $5000
                                          </td>
                                       </tr>
                                       <tr>
                                          <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                                             Payment from <span class="font-semibold">Jese Leos</span>
                                          </td>
                                          <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                             Apr 15 ,2021
                                          </td>
                                          <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                             $2300
                                          </td>
                                       </tr>
                                       <tr class="bg-gray-50">
                                          <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900 rounded-lg rounded-left">
                                             Payment from <span class="font-semibold">THEMESBERG LLC</span>
                                          </td>
                                          <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                             Apr 11 ,2021
                                          </td>
                                          <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                             $560
                                          </td>
                                       </tr>
                                       <tr>
                                          <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                                             Payment from <span class="font-semibold">Lana Lysle</span>
                                          </td>
                                          <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                                             Apr 6 ,2021
                                          </td>
                                          <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                             $1437
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
</div>
<% else %>
    <p> Please sign in</p>
<% end %>
>>>>>>> Stashed changes
