<%= form_with(model: patient) do |form| %>
  <% if patient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nric, style: "display: block" %>
    <%= form.text_field :nric %>
  </div>

  <div>
    <%= form.label :fname, style: "display: block" %>
    <%= form.text_field :fname %>
  </div>

  <div>
    <%= form.label :lname, style: "display: block" %>
    <%= form.text_field :lname %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.number_field :phone %>
  </div>

  <div>
    <%= form.label :dob, style: "display: block" %>
    <%= form.date_field :dob %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :gender, style: "display: block" %>
    <%= form.text_field :gender %>
  </div>

  <div>
    <%= form.label :race, style: "display: block" %>
    <%= form.text_field :race %>
  </div>

  <div>
    <%= form.label :vac_status, style: "display: block" %>
    <%= form.text_field :vac_status %>
  </div>

  <div>
    <%= form.label :drug_allergy, style: "display: block" %>
    <%= form.text_field :drug_allergy %>
  </div>

  <div>
    <%= form.submit class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
