<div id="<%= dom_id patient %>">

<% if false %>
  <p>
    <strong>Nric:</strong>
    <%= patient.nric %>
  </p>

  <p>
    <strong>Fname:</strong>
    <%= patient.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= patient.lname %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= patient.phone %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= patient.dob %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= patient.gender %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= patient.race %>

  <p>
    <strong>Vac status:</strong>
    <%= patient.vac_status %>
  </p>

  <p>
    <strong>Drug allergy:</strong>
    <%= patient.drug_allergy %>
  </p>
<% end %>


<h3 class="text-base font-semibold leading-7 text-gray-900">Patient Information</h3>
<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
    <div class="-mx-3 md:flex mb-6">
        <div class="md:w-full px-3 md:mb-0">
            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-nric">
                NRIC
            </label>
            <input value="<%= patient.nric %>" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3" id="grid-nric" type="text" disabled>
        </div>
    </div>
    <div class="-mx-3 md:flex mb-6">
        <div class="md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-first-name">
                First Name
            </label>
            <input value="<%= patient.fname %>" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3" id="grid-first-name" type="text" disabled>
        </div>
        <div class="md:W-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-last-name">
                Last Name
            </label>
            <input value="<%= patient.lname %>" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3" id="grid-last-name" type="text" disabled>
        </div>
    </div>
    <div class="-mx-3 md:flex mb-6">
        <div class="md:w-1/3 px-3 mb-4 md:mb-0">
            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-phone">
                Phone Number
            </label>
            <input value="<%= patient.phone %>" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4" id="grid-phone" type="text" disabled>
        </div>
        <div class="md:w-1/3 px-3 mb-4 md:mb-0">
            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-dob">
                Date of Birth
            </label>
            <input value="<%= patient.dob %>" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4" id="grid-dob" type="text" disabled>
        </div>
        <div class="md:w-1/3 px-3 mb-4 md:mb-0">
            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-gender">
                Gender
            </label>
            <input value="<%= patient.gender %>" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4" id="grid-gender" type="text" disabled>
        </div>
    </div>
    <div class="-mx-3 md:flex mb-6">
        <div class="md:w-1/3 px-3 mb-4 md:mb-0">
            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-race">
                Race
            </label>
            <input value="<%= patient.race %>" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3" id="grid-race" type="text" disabled>
        </div>
        <div class="md:w-1/3 px-3 mb-4 md:mb-0">
            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-vac">
                Vaccination Status
            </label>
            <input value="<%= patient.vac_status %>" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3" id="grid-vac" type="text" disabled>
        </div>
        <div class="md:w-1/3 px-3 mb-4 md:mb-0">
            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="grid-drugallergy">
                Drug Allergy
            </label>
            <input value="<%= patient.drug_allergy %>" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3" id="grid-drugallergy" type="text" disabled>
        </div>
    </div>
</div>

</div>
