<div id="<%= dom_id patient %>">
  <p>
    <strong>Nric:</strong>
    <%= patient.nric %>
  </p>

  <p>
    <strong>Fname:</strong>
    <%= patient.fname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= patient.lname %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= patient.phone %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= patient.dob %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= patient.gender %>
  </p>

  <p>
    <strong>Vac status:</strong>
    <%= patient.vac_status %>
  </p>

  <p>
    <strong>Drug allergy:</strong>
    <%= patient.drug_allergy %>
  </p>

</div>
