<div id="<%= dom_id doctor %>">
  <p>
    <strong>Clinic:</strong>
    <%= doctor.clinic_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= doctor.contact %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= doctor.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= doctor.role %>
  </p>

</div>
