<div class="text-center mt-6">

<p style="color: green"><%= notice %></p>

<%= render @doctor %>

<section class="w-78 h-60 bg-white rounded-xl drop-shadow-md relative p-6">
<div>
  <%= link_to "Edit this doctor", edit_doctor_path(@doctor), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to doctors", doctors_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

  <%= button_to "Destroy this doctor", @doctor, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
</section>

</div>