<div id="<%= dom_id administrator %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= administrator.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hospital:</strong>
    <%= administrator.hospital_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this administrator", administrator, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this administrator', edit_administrator_path(administrator), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
