<div class="w-full">
  <% if flash[:notice].present? %>
    <%#= render partial: "shared/notifications", locals: { message: flash[:notice]['msg'], type: flash[:notice]['type'] } %>
    <%= render partial: "shared/notifications", locals: { message: @msg, type: @type } %>
  <% end %>

  <div class="flex justify-between items-center p-6">
    <h1 class="font-bold text-4xl text-center">Administrators</h1>
    <%= link_to 'New administrator', new_administrator_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="administrators" class="min-w-full">
    <% if @administrators %>
      <% @administrators.each_with_index do |eachAdmin,idx| %>
        <% if (idx)%2 == 0 %>
          <section class="w-78 h-22 bg-indigo-100 rounded-xl drop-shadow-md m-6 relative p-6">
        <% else %>
          <section class="w-78 h-22 bg-white rounded-xl drop-shadow-md m-6 relative p-6">
        <% end%>
        <b>Admin email: </b>
        <%= eachAdmin.user.email%>
        <br/>
        <b>Hospital: </b>
        <%= eachAdmin.hospital.name %>
        <br/>
        <div class='flex mt-2'>
          <%= link_to "Edit hospital admin", edit_administrator_path(eachAdmin.id), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
          <%= button_to 'Destroy this administrator', administrator_path(eachAdmin.id), method: :delete, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        </div>
      </section>
      <% end %>
    <% end %>

  </div>
</div>
