<div id="<%= dom_id appointment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Patient:</strong>
    <%= appointment.patient_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Doctor:</strong>
    <%= appointment.doctor.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Clinic:</strong>
    <%= appointment.clinic.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= appointment.description%>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= appointment.date %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this appointment", appointment, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
    <%= link_to 'Edit this appointment', edit_appointment_path(appointment), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
    <hr class="mt-6">
  <% end %>
</div>
