<%= form_with(model: appointment, class: "contents") do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="my-5">
    <%= form.label :patient_id %>
    <%= form.text_field:patient_id, disabled: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", value: @user_name%>
  </div>

  <div class="my-5">
    <%= form.label :doctor_id %>
    <select name='doctor_id' class='block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full'>
      <% @doctors.each do |doctor| %>
        <option value="<%= doctor.doctor_id%>"><%= doctor.name %></option>
      <% end %>
    </select>
  </div>

  <div class="my-5">
    <%= form.label :clinic_id %>
    <select name='clinic_id' class='block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full'>
    <% @clinics.each do |clinic| %>
      <option value="<%= clinic.clinic_id%>" ><%= clinic.name %></option>
    <% end %>
    </select>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :date %>
    <%= form.datetime_field :date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
