<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Appointments</h1>
    <%= link_to 'New appointment', new_appointment_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="appointments" class="min-w-full">
    <%= render @appointments%>
    <% @appointments.each do |appointment| %>
      <p><b>Appointment ID:</b> <%= appointment.id%></p>
      <p><b>Doctor:</b> <%= appointment.doctor.name%></p>
      <p><b>Clinic:</b> <%= appointment.clinic.name%></p>
      <p><b>Description:</b> <%= appointment.description%></p>
      <p><b>Date:</b> <%= appointment.date%></p>
    <% end %>
  </div>
</div>
